@charset "UTF-8";

.font-style {
    color:#0ca4ca;
}

.jFiler-theme-default .jFiler-input {
    width: initial !important;
}

.dropdown-toggle:after {
    content: initial !important;
}

.detail-img{
    height: 135px;
    width: 135px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
}

.my-row{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.my-define-row{
    display: flex;
    display: -webkit-flex;
}

.my-define-row>span{
    flex: 1;
    -webkit-flex: 1;
}